@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.card-text {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.content {
  /*max-width: 90%;*/
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

#logo{
  border-radius: 20%;
}
#origen{
  background-color: blue;
}
#destino{
  background-color: green;
}
.leaflet-container {
  margin: 0;
  width: 600px;
  height: 400px;
}
.Map-Marker{
  display: inline-block;
}
