@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.card-text {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

.content {
  /*max-width: 90%;*/
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

#logo{
  border-radius: 20%;
}
#origen{
  background-color: blue;
}
#destino{
  background-color: green;
}
.leaflet-container {
  margin: 0;
  width: 600px;
  height: 400px;
}
.Map-Marker{
  display: inline-block;
}

.scrollable{
  overflow-y: scroll;
  height: 400px;
}

.derecha{
  padding: 10px;
  word-wrap: break-word;
  width: 20ch;
  margin-right: 80px;
  max-width: 45% !important;
  background-color: #84b6f4 !important;
}

.izquierda{
  padding: 10px;
  margin-left: 80px;
  word-wrap: break-word;
  width: 20ch;
  max-width: 45% !important;
  background-color: #80e780 !important;
}

.text_der{
  height: 5px;
  font-size: small;
  text-align: right;
}

